@model Hackathon.Domain.DTOs.HomeDTO
@{
    ViewData["Title"] = "Home Page";
}
<!--Essa view é a index-->
<section id="about" class="about">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-11">
                <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                            <i class="bi bi-sign-stop-lights"></i>
                            <span data-purecounter-start="0" data-purecounter-end="@Model.ViasCount" class="purecounter">0</span>
                            <p>Vias públicas</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                            <i class="bi bi-lightbulb"></i>
                            <span data-purecounter-start="0" data-purecounter-end="@Model.IluminacaoCount" class="purecounter">0</span>
                            <p>Iluminação pública</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                            <i class="bi bi-bus-front"></i>
                            <span data-purecounter-start="0" data-purecounter-end="@Model.TransporteCount" class="purecounter">0</span>
                            <p>Transporte público</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                            <i class="bi bi-shield-lock"></i>
                            <span data-purecounter-start="0" data-purecounter-end="@Model.SegurancaCount" class="purecounter">0</span>
                            <p>Segurança pública</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services ">
    <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
            <h2>Últimos relatos</h2>
        </div>

        <div class="row">
            @foreach (var item in Model.Relatos)
            {
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi @GetReportIcon(item.CategoriaId)" style="color: #94c045;"></i></div>
                        <h4 class="title"><a asp-controller="Relato" asp-action="Details" asp-route-id="@item.Id">#@item.Id - @GetReportTypeDesc(item.CategoriaId)</a></h4>
                        <p class="description">@item.Relatorio</p>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- End Services Section -->

@functions {
    public static string GetReportIcon(int categoriaId)
    {
        switch (categoriaId)
        {
            case 4: return "bi-sign-stop-lights";
            case 1: return "bi-lightbulb";
            case 3: return "bi-bus-front";
            case 2: return "bi-shield-lock";
            default: return "";
        }
    }

    public static string GetReportTypeDesc(int categoriaId)
    {
        switch (categoriaId)
        {
            case 4: return "Vías públicas";
            case 1: return "Iluminação pública";
            case 3: return "Transporte público";
            case 2: return "Segurança pública";
            default: return "";
        }
    }
}