@model Hackathon.Domain.DTOs.RelatoDTO
<hr />
<hr />
<hr />
<hr />
<div class="row">
    <div>
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <input type="hidden" asp-for="id" value="@Model.id"/>
                <input type="hidden" asp-for="categoriaId" value="@Model.categoriaId"/>
                <input type="hidden" asp-for="relatorio" value="@Model.relatorio"/>
                <input type="hidden" asp-for="rua" value="@Model.rua"/>
                <input type="hidden" asp-for="bairro" value="@Model.bairro"/>
                <input type="hidden" asp-for="estado" value="@Model.estado"/>
                <input type="hidden" asp-for="cidade" value="@Model.cidade"/>
                <input type="hidden" asp-for="cep" value="@Model.cep"/>
                <input type="hidden" value="@Model.data" asp-for="data" />
                <input type="hidden" id="likes" asp-for="contadorLikes" />
                <input type="hidden" value="@Model.usuarioId" asp-for="usuarioId" />
                <input type="hidden" value="@Model.status" asp-for="status" />
            </div>
            <div class="form-group">
                <input type="submit" value="Gostei" class="btn btn-success" />
                <button class="btn btn-primary" asp-controller="Relato" asp-action="Index">Voltar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(document).ready(function () {
                $("#likes").val(@Model.contadorLikes + 1)
            });
        </script>
    }
}

